- var reportClass = 'c-black f-500 m-b-20'

div.card
    div.card-header
        h2 Connection
    div.card-body.card-padding
        form((submit)="save($event)")
            div.form-group
                div.fg-line
                    input.form-control.input-lg(placeholder='Name' '[value]'='name' '(input)'='name = $event.target.value')
            div.form-group
                div.fg-line
                    input.form-control.input-lg(placeholder='Host' '[value]'='host' '(input)'='host = $event.target.value')
            div.form-group
                div.fg-line
                    input.form-control.input-lg(placeholder='Key' '[value]'='key' '(input)'='key = $event.target.value')

            div.row-fluid
                div.span4.offset4.text-left
                    a.btn.btn-danger.waves-effect(routerLink='/') Cancel
                    button.btn.btn-primary.waves-effect(type='submit' style='margin-left: 15px') Add
                    button.btn.btn-success.waves-effect.pull-right((click)='testCon($event)' type='button') Test Connection
div.card(*ngIf='passTest')
    div.card-body.card-padding
        div.card-header
            h2 Account Info
        div.card-body.card-padding
            p(class=reportClass) DatabasesLink: {{info.DatabasesLink}}
            p(class=reportClass) MediaLink: {{info.MediaLink}}
            p(class=reportClass) MaxMediaStorageUsageInMB: {{info.MaxMediaStorageUsageInMB}}
            p(class=reportClass) CurrentMediaStorageUsageInMB: {{info.CurrentMediaStorageUsageInMB}}
            p(class=reportClass) ConsumedDocumentStorageInMB: {{info.ConsumedDocumentStorageInMB}}
            p(class=reportClass) ProvisionedDocumentStorageInMB: {{info.ProvisionedDocumentStorageInMB}}
            p(class=reportClass) ConsistencyPolicy.defaultConsistencyLevel: {{info.ConsistencyPolicy.defaultConsistencyLevel}}
            p(class=reportClass) ConsistencyPolicy.maxStalenessPrefix: {{info.ConsistencyPolicy.maxStalenessPrefix}}
            p(class=reportClass) ConsistencyPolicy.maxStalenessIntervalInSeconds: {{info.ConsistencyPolicy.maxStalenessIntervalInSeconds}}
            p(class=reportClass) WritableLocations:
                label(*ngFor='let location of info.WritableLocations') {{location.name}}
            p(class=reportClass) ReadableLocations:
                label(*ngFor='let location of info.ReadableLocations') {{location.name}}


